[submodule "python-language-server"]
	path = python-language-server
	url = git@github.com:GTrunSec/python-language-server.git
[submodule "nix-fpm-multiuser"]
	path = nix-fpm-multiuser
	url = git@github.com:GTrunSec/nix-fpm-multiuser.git
